@import './utils/variables';
@import './base/normalize';
@import './components/logo';
@import './components/page-header';
@import './components/hero';
@import './components/predominantly';
@import './components/galery';
@import './components/team';
@import './components/client';
@import './components/footer';
@import './components/modal';
@import './components/main-portfolio';