.galery {
    padding-top: 0;
}

.galery--list {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.galery--item {
    position: relative;
    display: flex;
}

.galery--title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}