.portfolio--header {
    list-style: none;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.filter {
    display: flex;
    justify-content: center;
}

.filter--items:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 50px;
}

.filter--button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding-left: 22px;
    padding-right: 22px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border-color: transparent;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    box-shadow: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-text-color;
        color: #fff;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio--list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding: 0;
}

.portfolio--items {
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-last-child(-n+3) {
        margin-bottom: 0;
    }

    &:hover {
        box-shadow:
            0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}


.portfolio--card {
    text-decoration: none;
}

.portfolio--card__hover {
    position: relative;
    overflow: hidden;
}

.portfolio--img {
    display: block;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio--description {
    box-sizing: border-box;
    font-family: 'Roboto';
    width: 370px;
    margin: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;

    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    position: absolute;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio--card:hover & {
        transform: translateY(-100%);
    }
}


.portfolio--signature {
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    color: $primary-text-color;
    font-family: 'Roboto';
}

.portfolio--title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0px 0 4px 24px;
    padding-top: 20px;
    color: $title-text-color;
}

.portfolio--text {
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: 24px;
}