.team {
    background-color: #F5F4FA;
    ;
}

.team--list {
    margin-bottom: 30px;
    padding-left: 0;
    display: flex;
    margin-right: 0;
    justify-content: space-between;
}

.team--item:not(:last-child) {
    margin-right: 30px;
}

.team--item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team--title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
    text-align: center;
}

.team--text {
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
}

.social-networks {
    display: flex;
    padding: 0;
    justify-content: center;
}

.social-networks--link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    fill: #AFB1B8;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:last-child) {
        margin-right: 10px;
    }

    &:hover,
    &:focus {
        fill: #FFFFFF;
        background-color: $accent-text-color;
    }
}